.navItem > div {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-bg: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
    --bs-nav-pills-link-active-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    --bs-nav-link-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
    --bs-nav-link-hover-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));

    display: block;
    padding: 0.5rem 1rem;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    cursor: pointer;
}

.navItem > div.active {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
}

.navItem > div:hover {
    color: var(--bs-nav-link-hover-color);
}
