.eye {
    color: #777;
}

.eye:hover,
.eye:focus {
    color: #444;
}

.eye .icon {
    width: 16px;
    height: 15px;
    top: -10px;
    left: -8px;
}

.delete {
    color: indianred;
}

.delete:hover,
.delete:focus {
    color: #dc3545;
}

.delete .icon {
    width: 15px;
    height: 15px;
    top: -9px;
    right: -9px;
}

.edit {
    color: mediumseagreen;
}

.edit:hover,
.edit:focus {
    color: darkseagreen;
}

.edit .icon {
    height: 15px;
    width: 15px;
    bottom: -11px;
    right: -9px;
}
