.eye {
    color: #777;
    position: relative;
}

.eye:hover {
    color: #444;
}

.eye .icon {
    width: 20px;
    height: 15px;
    position: absolute;
    text-align: right;
    top: -8px;
    right: -9px;
}
