.viewMode {
    cursor: pointer;
}

.viewMode:hover,
.viewMode:focus {
    background-color: #424649!important;
}

.deleteButton {
    color: indianred;
    height: 15px;
    width: 15px;
    top: -5px;
    right: 1px;
}
.deleteButton:hover,
.deleteButton:focus {
    color: #dc3545;
}

.editButton {
    color: mediumseagreen;
    height: 15px;
    width: 15px;
    bottom: 5px;
    right: -1px;
}
.editButton:hover,
.editButton:focus {
    color: darkseagreen;
}
